<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>JavaScript</title>
<script>
//	alert("1");
	
	window.onload = function(){
//		alert("2");
	}
	
	function test1(){//a태그로 함수 호출
		alert('test1 실행');
	}
	
	window.onload = function(){
		let bt1 = document.getElementById('bt1');
		bt1.onclick = test1;
			//test1() -> 바로 호출됨 사용x
	}
	
	function test2(){//변수와 자료형
		console.log('a = ' + a); // a = undefined
//에러		console.log('b = ' + b);
		
		var a = 1;
// 필요할 때 마다 변수를 사용할 수 있다는(편리하다는) 장점이 될 수 도 있지만, 
// 같은 이름의 변수명을 남용하는 문제를 야기할 가능성이 높아지기에 단점이 더 크다.		
		let b = 2;
		const c = 3;
// 재할당이 필요없는 경우, const를 사용해 불필요한 변수의 재사용을 방지하고, 
// 재할당이 필요한 경우 let을 사용하는 것이 좋음.
		
		
 		var a = "abc";
//에러		let b = "def";
//에러		const c = "ggg";
 
 		a = "abc";
		b = "abc";
//에러(final)	 c = "abc";
		
		console.log('a = ' + a);
		console.log('b = ' + b);
		console.log('c = ' + c);
		
		a = 1;
		b = "10";
		console.log(typeof(a));
		console.log(typeof(b));
		console.log(isNaN(a));
		console.log(isNaN(b)); //숫자로 인식되어지는 문자열이면 숫자로 인식한다.
		//isNaN() 함수는 숫자가 아닌 대상은 true, 숫자면 false를 반환합니다.
		//isNaN(‘숫자’)는 숫자로 인식되므로 false입니다. isNaN(”) 및 isNaN(‘ ‘)은 각각 0으로 인식되어 false입니다.
		
	var num1 = isNaN(456);            //숫자           false
	var num2 = isNaN('456');          //숫자           false
	var num3 = isNaN('가나다');        //문자            true
	var num4 = isNaN(4.56);           //소수점          false
	var num5 = isNaN('4.56');         //'소수점'        false
	var num6 = isNaN(4 * 5);          //숫자 연산        false
	var num7 = isNaN('4 * 5');        //'숫자 연산'      false
	var num8 = isNaN('');             //빈 문자 = 0     false
	var num9 = isNaN(' ');            //공백 = 0        false
	var num10 = isNaN(true);          //논리형 자료 = 1   false
	var num11 = isNaN(false);         //논리형 자료 = 0   false

		let d = prompt('숫자를 입력하세요.');
		console.log(typeof(d) + ', ' + d);
		
		//확인 true, 취소 false
		let e = confirm('질문 내용?');	
		console.log(typeof(e) + ', ' + e);
		
		console.log(d + 1);
		console.log(parseInt(d) + 1);
		console.log(Number(d) + 1);
	}
	
	function test3(){//계산
		let t1 = document.getElementById('text1');
		let t2 = document.getElementById('text2');
		let t3 = document.getElementById('text3');
		let output = document.getElementById('output');
		let oper = document.getElementById("calcId"); 
		
		console.log(oper.value);
		
		console.log(t1);
		console.log(parseInt(t1)); //NaN
		console.log(parseInt(t1.value));
		
		if(isNaN(Number(t1.value)) || isNaN(Number(t2.value))){
			alert('숫자를 입력해 주세요.')
			return;
		}
		
	    switch(oper.value){
        case "plus" : t3.value = Number(t1.value) + Number(t2.value); break;
        case "minus" : t3.value = Number(t1.value) - Number(t2.value); break;
        case "multiply" : t3.value = Number(t1.value) / Number(t2.value); break;
        case "divid" : 
        if(t2.value == 0){
            alert("오류");
            return;
            }
        else t3.value = Number(t1.value) / Number(t2.value); break;
        case "power" :  break;
    	}
		
		t3.value = Number(t1.value) + Number(t2.value);
		output.innerHTML = Number(t1.value) + Number(t2.value);
		
		t3.focus();
		t3.select();
	}
</script>
</head>
<body>
<script>
//	alert("3");
</script>
<h2>[ JavaScript 기본 문법 ]</h2>
<p><a href="javascript:test1()">a태그로 함수 호출</a></p>
<p><input type="button" value="onclick속성으로 함수 호출" onclick="test1()"/></p>
<p><input type="button" value="onload에서 이벤트 연결" id="bt1"/></p>

<p><a href="javascript:test2()">변수와 자료형</a></p>

<p><a href="javascript:test3()">계산</a></p>
<p>
	<input tpye="text" id="text1" value="0"/>
    <select id="calcId">
        <option type="button" class="operator" value="plus">+</option>
        <option type="button" class="operator" value="minus">-</option>
        <option type="button" class="operator" value="multiply">*</option>
        <option type="button" class="operator" value="divid">/</option>
        <option type="button" class="operator" value="power">^</option>
    </select>
	<input tpye="text" id="text2" value="0"/>
	<input tpye="text" id="text3" value="0"/>
	<span id="output"></span>
	
	<p><input type="button" value="계산" onclick="test3()"/></p>
	<button type="button" id="clean">지우기</button>
	<button type="button" id="clean">지우기 git 테스트</button>
	<button type="button" id="clean">지우기 git 테스트</button>
	<button type="button" id="clean">지우기 git 테스트</button>
	
</p>
<script>
//	alert("4");
//	alert("4");
//	alert("4");
//	alert("4");
//	alert("4");
//	alert("4");
//	alert("4");
//	alert("4");
</script>		
</body>
</html>