<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>springWeb</title>
</head>
<body>
	<h1>[ JavaScript / jQuery / Ajax ]</h1>
	<ol>
		<li>JavaScript
			<ul>
				<li><a th:href="@{/js/js1}">JavaScript 기본 문법</a></li>
				<li><a th:href="@{/js/js3}">JavaScript 기타 함수</a></li>
			</ul>
		</li>
		<li>jQuery
			<ul>
				<li><a th:href="@{/jq/jq1}">jQuery 기본 문법, 선택자</a></li>
				<li><a th:href="@{/jq/jq2}">jQuery 이벤트</a></li>
				<li><a th:href="@{/jq/jq3}">jQuery 문서 객체 조작 메소드</a></li>
			</ul>
		</li>
	</ol>
</body>
</html>
